.paginationContainer {
	display: flex;
	list-style-type: none;
	justify-content: center;
	background-color: var(--light-c);
	height: 44px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paginationItem {
	padding: 0 12px;
	height: 32px;
	text-align: center;
	margin: auto 4px;
	color: var(--dark-grey-c);
	border: 1px solid var(--light-grey-c);
	display: flex;
	box-sizing: border-box;
	align-items: center;
	letter-spacing: 0.01em;
	line-height: 1.43;
	font-size: 13px;
	min-width: 32px;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;

	&.dots:hover {
		background-color: transparent;
		cursor: default;
	}

	&:hover {
		background-color: var(--light-grey-c);
		cursor: pointer;
	}

	&.selected {
		background-color: var(--blue-c);
		color: var(--light-c);
		border-color: var(--blue-c);
	}

	.arrow {
		&::before {
			position: relative;
			content: '';
			display: inline-block;
			width: 0.4em;
			height: 0.4em;
			border-right: 0.12em solid var(--dark-grey-c);
			border-top: 0.12em solid var(--dark-grey-c);
		}

		&.left {
			transform: rotate(-135deg) translate(-50%);
		}

		&.right {
			transform: rotate(45deg);
		}
	}

	&.disabled {
		pointer-events: none;
		color: var(--light-grey-c);
		border-color: var(--light-grey-c);

		.arrow::before {
			border-right: 0.12em solid var(--light-grey-c);
			border-top: 0.12em solid var(--light-grey-c);
		}

		&:hover {
			background-color: transparent;
			cursor: default;
		}
	}
}
